<div class="col-xs-12">
    <div class="card hovercard">
        <div class="card-background">
            <%= image_tag "balon.jpg", class: "card-bkimg"%>
            <!-- http://lorempixel.com/850/280/people/9/ -->
        </div>
        <div class="useravatar">
            <%= image_tag "perfil.jpg", class: "card-bkimg"%>
        </div>
        <div class="card-info">
            <span class="card-title">Henrique Jensen
        </span>

        </div>
    </div>
    <div class="btn-pref btn-group btn-group-justified btn-group-lg" role="group" aria-label="...">
        <div class="btn-group" role="group">
            <a href="https://github.com/henriquejensen" target="_blank" type="button" id="stars" class="btn btn-primary">
                Github
            </a>
        </div>
        <div class="btn-group" role="group">
            <a href="https://twitter.com/henriquejensen" target="_blank" type="button" id="favorites" class="btn btn-default">
                Twitter
            </a>
        </div>
        <div class="btn-group" role="group">
            <a href="https://linkedin.com/in/henriquejensen" target="_blank" type="button" id="following" class="btn btn-default">
                Linkedin
            </a>
        </div>
    </div>

    <!--div class="well">
      <div class="tab-content">
        <div class="tab-pane fade in active" id="tab1">
          <h3>This is tab 1</h3>
        </div>
        <div class="tab-pane fade in" id="tab2">
          <h3>This is tab 2</h3>
        </div>
        <div class="tab-pane fade in" id="tab3">
          <h3>This is tab 3</h3>
        </div>
      </div>
    </div-->

</div>
            
<div class="col-xs-12">
    <% @posts.each do |post| %>
        <div class="row text-center">
            <h1>
                <%= link_to post.title, post_path(post) %>
            </h1>
            <%= raw(post.body).truncate(358) %>
        </div>

    <% end %>
</div>

